<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>Мурмаркет</title>
    <link href="./resources/img/yi.jpg" rel="icon"/>
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link href="resources/css/normalize.css" rel="stylesheet"/>
    <link href="resources/css/header.css" rel="stylesheet"/>
    <link href="resources/css/main.css" rel="stylesheet"/>
    <link href="resources/css/footer.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <div class="logo">
        Мурмаркет
      </div>
    </header>
    <main>
      <input class="cat-switch-class" id="cat-switch-class" type="checkbox"/>
      <label for="cat-switch-class"></label>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот рыжик" src="resources/img/kitty_1.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Александр
          </div>
          <div class="short-description">
            <p>Возраст: 2 года</p>
            <p>Порода: рыжык</p>
            <p>Весёлый непоседа</p>
          </div>
          <div class="cat-long-description">
            Весёлый и озорной кот который не знает усталости. Он станет лучшим компаньоном и
            спутником в вашей семье.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Володя" src="resources/img/kitty_2.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Володя
          </div>
          <div class="short-description">
            <p>Возраст: 3 месяца</p>
            <p>Порода: дворовый</p>
            <p>Хочешь рыбку?</p>
          </div>
          <div class="cat-long-description">
            Ловит рыбку лучше, чем лиса на хваост в одноц из известных сказок.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Хантер" src="resources/img/kitty_3.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Хантер
          </div>
          <div class="short-description">
            <p>Возраст: 4 месяца</p>
            <p>Порода: рывок</p>
            <p>Охотиться, как дышит</p>
          </div>
          <div class="cat-long-description">
            Неуталимый охотник, который обязательно съест все твои цветы н даче.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Звёздочка" src="resources/img/kitty_4.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Звёздочка
          </div>
          <div class="short-description">
            <p>Возраст: 1 год</p>
            <p>Порода: бритель</p>
            <p>Астроном по призванию</p>
          </div>
          <div class="cat-long-description">
            Поможе изведать все неизвестные звёзды и побывать на всех планетах, не животное, а один
            плюс на 4-х лапах.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот в сапогах" src="resources/img/kitty_5.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Кот в сапогах
          </div>
          <div class="short-description">
            <p>Возраст: скрыто</p>
            <p>Порода: лучшая</p>
            <p>Самое имя за себя говорит</p>
          </div>
          <div class="cat-long-description">
            Это не просто кот, а сам Кот в сапогах, кто повидал не один бой и не одну историю
            приключений!
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Тигруля" src="resources/img/kitty_6.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Тигруля
          </div>
          <div class="short-description">
            <p>Возраст: 5 лет</p>
            <p>Порода: тигр</p>
            <p>Мой братан Тигр</p>
          </div>
          <div class="cat-long-description">
            Один из известнейших тигров, снимался в одном из клипов и просто милый котик!
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Аслан" src="resources/img/kitty_7.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Аслан
          </div>
          <div class="short-description">
            <p>Возраст: скрыто</p>
            <p>Порода: благородная</p>
            <p>Любит спасать маленьких детей от злых королев</p>
          </div>
          <div class="cat-long-description">
            Тот самый Аслан из романа "Хроники Нарнии". Свой мир спас, а теперь хочет и твой спасти.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот музыкант" src="resources/img/kitty_8.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Кот музыканьтий
          </div>
          <div class="short-description">
            <p>Возраст: 14 лет</p>
            <p>Порода: бременский</p>
            <p>Муза моё всё</p>
          </div>
          <div class="cat-long-description">
            Любит по вечерам с друзьями собраться поиграть и похитить приценнсу из замка.
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Симба" src="resources/img/kitty_9.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Симба
          </div>
          <div class="short-description">
            <p>Возраст: 12 лет</p>
            <p>Порода: дисней</p>
            <p>Дружит с мангустом</p>
          </div>
          <div class="cat-long-description">
            Не просто лев (котик), а тот самый симба из вашего мультика детства. Как я стар...
          </div>
        </div>
      </div>
      <div class="cat-card">
        <div class="cat-image">
          <img alt="Кот Мрак" src="resources/img/kitty_10.jpg"/>
        </div>
        <div class="cat-description">
          <div class="name">
            Мрак
          </div>
          <div class="short-description">
            <p>Возраст: 8 лет</p>
            <p>Порода: тёмный</p>
            <p>Не просто кот, а нечто темнее</p>
          </div>
          <div class="cat-long-description">
            Озорной шалунишка поиграть в темноте с твоими ногами или костяшками.
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="contact-info">
        <div class="mails">
          <p>
            Contact information: <a href="mailto:niki999922@yandex.ru"> niki999922@yandex.ru</a>.
          </p>
        </div>
        <div class="number">
          &copy; 2019 &laquo;<a href="https://github.com/niki999922">
          github.com/niki999922</a>&raquo;
        </div>
      </div>
    </footer>
  </body>
</html>
