<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="resources/css/normalize.css"/>
    <link rel="stylesheet" href="resources/css/index.css"/>
    <link rel="stylesheet" href="resources/css/logotype.css"/>
    <link rel="stylesheet" href="resources/css/content.css"/>
    <title>СвиноТиндер</title>
  </head>
  <body>
    <header>
      <div class="logotype">
        <span class="logotype__main-letter_color">P</span>ig<span class="logotype__main-letter_color">T</span>inder
      </div>
    </header>
    <main class="content">
      <div class="content__candidates">
        <div class="content__empty-candidate">
          New pigs coming soon!
        </div>
        <div class="content__candidate content__photo-1">
          <div class="content__candidate-description-name">
            Hanna
          </div>
          <div class="content__candidate-description-age">
            10 month
          </div>
        </div>
        <div class="content__candidate content__photo-2">
          <div class="content__candidate-description-name">
            Pepper
          </div>
          <div class="content__candidate-description-age">
            3 month
          </div>
        </div>
        <div class="content__candidate content__photo-3">
          <div class="content__candidate-description-name">
            Natasha
          </div>
          <div class="content__candidate-description-age">
            7 month
          </div>
        </div>
        <div class="content__candidate content__photo-4">
          <div class="content__candidate-description-name">
            Ciri
          </div>
          <div class="content__candidate-description-age">
            5 month
          </div>
        </div>
        <div class="content__candidate content__photo-5">
          <div class="content__candidate-description-name">
            Lucy
          </div>
          <div class="content__candidate-description-age">
            8 month
          </div>
        </div>
        <div class="content__candidate content__photo-6">
          <div class="content__candidate-description-name">
            Marta
          </div>
          <div class="content__candidate-description-age">
            11 month
          </div>
        </div>
        <div class="content__candidate content__photo-7">
          <div class="content__candidate-description-name">
            Gerda
          </div>
          <div class="content__candidate-description-age">
            2 year
          </div>
        </div>
        <div class="content__candidate content__photo-8">
          <div class="content__candidate-description-name">
            Alexa
          </div>
          <div class="content__candidate-description-age">
            4 month
          </div>
        </div>
      </div>
      <div class="content__buttons">
        <button class="content__button" id="dislike-candidate">
          <div class="content__candidate-wrapper">
            <i class="fa fa-times dislike-candidate_color" aria-hidden="true"></i>
          </div>
        </button>
        <button class="content__button" id="super-like-candidate">
          <div class="content__candidate-wrapper">
            <i class="fa fa-star super-like-candidate_color" aria-hidden="true"></i>
          </div>
        </button>
        <button class="content__button" id="like-candidate">
          <div class="content__candidate-wrapper">
            <i class="fa fa-heart like-candidate_color" aria-hidden="true"></i>
          </div>
        </button>
      </div>
    </main>
    <script type="text/javascript" src="https://use.fontawesome.com/c997c86d51.js"></script>
    <script type="text/javascript" src="resources/js/animations.js"></script>
  </body>
</html>
