<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Newspaper</title>
    <link href="resources/css/normalize.css" rel="stylesheet" />
    <link href="resources/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <p>Font-size</p>
    <input checked id="small" name="font-size" type="radio" />
    <label for="small">Small</label>
    <input id="big" name="font-size" type="radio" />
    <label for="big">Big</label>
    <p>Font-family</p>
    <input checked id="default" name="font-family" type="radio" />
    <label for="default">Default</label>
    <input id="italic" name="font-family" type="radio" />
    <label for="italic">Italic</label>
    <p>Theme</p>
    <input checked id="white" name="theme" type="radio" />
    <label for="white">White</label>
    <input id="black" name="theme" type="radio" />
    <label for="black">Black</label>
    <header>
      <h1 class="header-title border-marker">Yandex News</h1>
      <section class="header-info border-marker">
        <p class="bold-el">
          December 10, 1979
        </p>
        <p class="italic">
          Saint-Petersburg's newspaper
        </p>
        <p class="italic bold-el">
          Version #13
        </p>
      </section>
    </header>
    <main>
      <article class="history-news border-marker">
        <h2 class="history-news__title">
          Opened new type of neurons
        </h2>
        <p class="history-news__content border-marker">
          Neurons transmit information to one another through electrochemical signals. They make up
          the motor nerves that allow you to type an essay, the sensory nerves that let you feel a
          fluffy dog, and your brain, allowing to remember the content of this module. They have a
          number of helper cells, ranging from astrocytes, to microglia, to ependymal cells as well.
          You will come to appreciate the structure and function of neurons and the comrade cells
          which help to maintain the optimal function of the nervous system. Neurons transmit
          information to one another through electrochemical signals. They make up the motor nerves
          that allow you to type an essay, the sensory nerves that let you feel a fluffy dog, and
          your brain, allowing to remember the content of this module. They have a number of helper
          cells, ranging from astrocytes, to microglia, to ependymal cells as well. You will come to
          appreciate the structure and function of neurons and the comrade cells which help to
          maintain the optimal function of the nervous system. Neurons transmit information to one
          another through electrochemical signals. They make up the motor nerves that allow you to
          type an essay, the sensory nerves that let you feel a fluffy dog, and your brain, allowing
          to remember the content of this module. They have a number of helper cells, ranging from
          astrocytes, to microglia, to ependymal cells as well. You will come to appreciate the
          structure and function of neurons and the comrade cells which help to maintain the optimal
          function of the nervous system.
        </p>
      </article>
      <article class="breaking-news">
        <h2>
          Newton is wonderful person!!!
        </h2>
        <p>
          Neurons transmit information to one another through electrochemical signals. They make up
          the motor nerves that allow you to type an essay, the
          <img alt="Newton" class="photo-main" src="resources/img/Newton1.jpg" />
          sensory nerves that let you feel a fluffy dog, and your brain, allowing to remember the
          content of this module. They have a number of helper cells, ranging from astrocytes, to
          microglia, to ependymal cells as well. You will come to appreciate the structure and
          function of neurons and the comrade cells which help to maintain the optimal function of
          the nervous system. They have a number of helper cells, ranging from astrocytes, to
          microglia, to ependymal cells as well. You will come to appreciate the structure and
          function of neurons and the comrade cells which help to maintain the optimal function of
          the nervous system. They have a number of helper cells, ranging from astrocytes, to
          microglia, to ependymal cells as well. You will come to appreciate the structure and
          function of neurons and the comrade cells which help to maintain the optimal function of
          the nervous system. They have a number of helper cells, ranging from astrocytes, to
          microglia, to ependymal cells as well. You will come to appreciate the structure and
          function of neurons and the comrade cells which help to maintain the optimal function of
          the nervous system. They have a number of helper cells, ranging from astrocytes, to
          microglia, to ependymal cells as well. You will come to appreciate the structure and
          function of neurons and the comrade cells which help to maintain the optimal function of
          the nervous system.
        </p>
      </article>
      <article class="day-news border-marker">
        <h2 class="day-news__title">
          Sciencist create wow effect after reading this title
        </h2>
        <p>
          They have a number of helper cells, ranging from astrocytes, to microglia, to ependymal
          cells as well. Neurons transmit information to one another through electrochemical
          signals. They make up the motor nerves that allow you to type an essay, the sensory nerves
          that let you feel a fluffy dog, and your brain, allowing to remember the content of this
          module. They have a number of helper cells, ranging from astrocytes, to microglia, to
          ependymal cells as well. You will come to appreciate the structure and function of neurons
          and the comrade cells which help to maintain the optimal function of the nervous system.
          What I was trying to do with this program is have it analyze each character until it finds
          a space and then save that substring as the first token. then loop again until it reaches
          no more tokens or the end of the line. They make up the motor nerves that allow you to
          type an essay, the sensory nerves that let you feel a fluffy dog, and your brain, allowing
          to remember the content of this module. They have a number of helper cells, ranging from
          astrocytes, to microglia, to ependymal cells as well. You will come to appreciate the
          structure and function of neurons and the comrade cells which help to maintain the optimal
          function of the nervous system. What I was trying to do with this program is have it
          analyze each character until it finds a space and then save that substring as the first
          token. then loop again until it reaches no more tokens or the end of the line. They make
          up the motor nerves that allow you to type an essay, the sensory nerves that let you feel
          a fluffy dog, and your brain, allowing to remember the content of this module. They have a
          number of helper cells, ranging from astrocytes, to microglia, to ependymal cells as well.
          You will come to appreciate the structure and function of neurons and the comrade cells
          which help to maintain the optimal function of the nervous system. What I was trying to do
          with this program is have it analyze each character until it finds a space and then save
          that substring as the first token. then loop again until it reaches no more tokens or the
          end of the line.
        </p>
      </article>
    </main>
  </body>
</html>
