header {
  height: 40px;
  margin: auto;
  padding: 10px 0;

  border-bottom-width: 2px;
  border-bottom-style: outset;
  border-bottom-color: #805678;

  font-family: PT Sans Narrow, sans-serif;
  font-size: 35px;
  text-align: center;
}

header:first-letter {
  color: red;
  font-size: 40px;
}
