<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link href="resources/css/normalize.css" rel="stylesheet">
    <link href="resources/css/index.css" rel="stylesheet">
    <title>Морда</title>
  </head>
  <body>
    <main class="start-page content">
      <div class="content__location geolink">
        <a class="geolink__geolink-ref" href="#">
          <div class="geolink__button"></div>
          <span class="geolink__reg">Санкт-Петербург</span>
        </a>
      </div>
      <div class="content__news news-block">
        <div class="news-block__titles">
          <a class="news-block__title news-block__title_color_blue news-block__title_weight_bold" href="#">Сейчас в СМИ</a>
          <a class="news-block__title news-block__title_color_grey-blue news-block__title_weight_bold" href="#">В Санкт-Петербурге</a>
          <a class="news-block__date news-block__date_color_grey">20 января, понедельник 12:42</a>
        </div>
        <div class="news-block__news-elements">
          <div class="news-block__news">
            <img class="news-block_news__head-image" alt="Российская газета" src="//avatars.mds.yandex.net/get-ynews-logo/26056/1116-1478692904205-square/logo-square">
            <a class="news-block_news_content" href="#">Россияне смогут покупать номера за повышенную госпошлину</a>
          </div>
          <div class="news-block__news">
            <img class="news-block_news__head-image" alt="Российская газета" src="//avatars.mds.yandex.net/get-ynews-logo/26056/1116-1478692904205-square/logo-square">
            <a class="news-block_news_content" href="#">При прорыве трубы в пермском отеле погиб ребенок</a>
          </div>
          <div class="news-block__news">
            <img class="news-block_news__head-image" alt="Якутия 24" src="//avatars.mds.yandex.net/get-ynews-logo/786982/254156926-1543230200886-square/logo-square">
            <a class="news-block_news_content" href="#">«Известия»: оформлять маткапитал по-новому могут начать весной</a>
          </div>
          <div class="news-block__news">
            <img class="news-block_news__head-image" alt="Коммерсантъ" src="//avatars.mds.yandex.net/get-ynews-logo/26056/1048-1478692902313-square/logo-square">
            <a class="news-block_news_content" href="#">РБК: голосование по поправкам в Конституцию может пройти 12 апреля</a>
          </div>
          <div class="news-block__news">
            <img class="news-block_news__head-image" alt="Lenta.ru" src="//avatars.mds.yandex.net/get-ynews-logo/26056/1047-1478692902215-square/logo-square">
            <a class="news-block_news_content" href="#">Axios: Трамп намерен ужесточить правила выдачи виз в США</a>
          </div>
        </div>
        <div class="news-block__money-course">
          <div class="news-block__money">
            <a class="news-block__currency news-block__currency_weight_bold" href="#">USD&nbsp;MOEX&nbsp;</a>
            <span class="news-block__currency-cost">61,53&nbsp;</span>
            <span class="news-block__currency-cost-dif news-block__currency-cost-dif_color_grey">−0,02</span>
          </div>
          <div class="news-block__money">
            <a class="news-block__currency news-block__currency_weight_bold" href="#">EUR&nbsp;MOEX&nbsp;</a>
            <span class="news-block__currency-cost">68,22&nbsp;</span>
            <span class="news-block__currency-cost-dif news-block__currency-cost-dif_color_grey">-0,04</span>
          </div>
          <div class="news-block__money">
            <a class="news-block__currency news-block__currency_weight_bold" href="#">НЕФТЬ&nbsp;</a>
            <span class="news-block__currency-cost">65,26&nbsp;</span>
            <span class="news-block__currency-cost-dif news-block__currency-cost-dif_color_grey">+0,43%</span>
          </div>
          <div class="news-block__dots">...</div>
        </div>
      </div>
      <div class="content__ad-poster content__ad-poster-short ad-poster-short">
        <img class="ad-poster-short__picture" src="https://avatars.mds.yandex.net/get-banana/28825/x25EIEj9yxgyHc42fpCL87PX_banana_20161021_673-Dogx402x.png/optimize" alt="dog with alisa box">
        <span class="ad-poster-short__title">Взгляните на привычные дела по-новому<br></span>
        <span class="ad-poster-short__title-product">c Яндекс.Станцией <span class="ad-poster-short__title-product-age">0+</span></span>
      </div>
      <div class="content__authorization">
        <div class="content__authorization-wrapper">
          <p>niki999922</p>
          <p>Почта <span class="content__authorization-messages_bold">112</span></p>
        </div>
      </div>
      <div class="content__settings settings">
        <a class="settings__link-ref" href="#">Настройка</a>
      </div>
      <div class="content__logotype ya-logotype">
        <div class="ya-logotype__picture"></div>
      </div>
      <div class="content__search search">
        <div class="search__links">
          <a class="search__link" href="#">Видео</a>
          <a class="search__link" href="#">Картинки</a>
          <a class="search__link" href="#">Новости</a>
          <a class="search__link" href="#">Маркет</a>
          <a class="search__link" href="#">Переводчик</a>
          <a class="search__link" href="#">Музыка</a>
          <a class="search__link" href="#">Афиша</a>
          <a class="search__link" href="#">ещё</a>
        </div>
        <div class="search__label">
          <div class="search__input">
            <label for="search-input" class="search-input_flex">
              <input type="text" id="search-input" class="search__str-in">
              <span class="search__str-in-mic"></span>
              <span class="search__str-in-clava"></span>
            </label>
          </div>
          <div class="search__find-button">
            Найти
          </div>
          <div class="search__input-arrow"></div>
        </div>
        <div class="search__hints">
          <span class="search__hints-start">Найдётся всё. Например,</span>
          <span class="search__hints-end"> помощник Алиса</span>
        </div>
      </div>
      <div class="content__ad-poster content__ad-poster-long">
        <img class="content__ad-poster-long-img" src="resources/images/ad-1.png" alt="advert with man">
      </div>
      <div class="content__first-column">
        <div class="content__first-column-visits">
          <a class="content__first-column-visits-ref" href="#"><article class="content__first-column-article">Посещаемое</article></a>
          <div class="content__first-column-visits-content">
            <p><span class="content__first-column-visits-start_weight_bold">Маркет</span> — китайская распродажа</p>
            <p><span class="content__first-column-visits-start_weight_bold">Авто.ру</span> — Туссан третьей сурии</p>
            <p><span class="content__first-column-visits-start_weight_bold">Недвижимость</span> — продажа студии</p>
            <p><span class="content__first-column-visits-start_weight_bold">Работа</span> — охранником</p>
            <p><span class="content__first-column-visits-start_weight_bold">Здоровье</span> — врач на связи</p>
            <p><span class="content__first-column-visits-start_weight_bold">Коллекции</span> — как мелировать волосы</p>
            <p><span class="content__first-column-visits-start_weight_bold">Авиабилеты</span> — из Екатеринбурга</p>
          </div>
        </div>
        <div class="content__first-column-jokes">
          <a class="content__first-column-article-ref" href="#"><article class="content__first-column-article">Лучшие анекдоты</article></a>
          Раздел: <a href="#" class="content__first-column-ref">Медицинские</a><br> - Вас лечить хорошо или бесплатно?
        </div>
      </div>
      <div class="content__second-column">
        <div class="content__second-column-program">
          <div class="content__second-column-program-article">
            <a class="content__second-column-program-ref" href="#">
              <article class="content__second-column-article">Телепрограмма</article>
            </a>
            <button class="section__button">ТВ онлайн ▶︎</button>
          </div>
          <div class="content__second-column-programs-content">
            <p>16:00 Понять. Простить <span class="content__second-column-program-channel">41 Домашний</span></p>
            <p>16:00 Место встречи <span class="content__second-column-program-channel">НТВ</span></p>
            <p>16:00 Детективы <span class="content__second-column-program-channel">Пятый канал</span></p>
            <p>16:00 Новости <span class="content__second-column-program-channel">РЕН ТВ</span></p>
            <p>16:00 Гадалка <span class="content__second-column-program-channel">ТВ-3</span></p>
            <p>16:00 Реальные пацаны <span class="content__second-column-program-channel">ТНТ</span></p>
          </div>
        </div>
        <div class="content__second-column-cars">
          <a class="content__second-column-article-ref" href="#"><article class="content__second-column-article">Автомобильные новости</article></a>
          <div class="content__second-scroll-container">
            <div class="content__second-scroll-container-elem">Правительство поддержало законопроект о регистрации машиномест <span class="content__second-column-scroll-entity">12:19</span></div>
            <div class="content__second-scroll-container-elem">Обзор нового Mitsubishi, за которым выстроилась очередь <span class="content__second-column-scroll-entity">12:30</span></div>
            <div class="content__second-scroll-container-elem">«Лады» оснастят системой управления со смартфона <span class="content__second-column-scroll-entity">12:40</span></div>
            <div class="content__second-scroll-container-elem">В Китае представили спорткар с двигателем от Focus RS <span class="content__second-column-scroll-entity">12:50</span></div>
            <div class="content__second-scroll-container-elem">Новая Kio Rio для России: самые первое интервью из центра событий <span class="content__second-column-scroll-entity">13:50</span></div>
            <div class="content__second-scroll-container-elem">Найдена секретная золотая царская комната в зимнем дворце <span class="content__second-column-scroll-entity">13:55</span></div>
          </div>
        </div>
      </div>



      <div class="content__third-column">


        <div class="content__third-column-weather">
          <div class="content__third-column-weather-wrapper">
            <a class="content__third-column-article-ref" href="#"><article class="content__third-column-article">Погода</article></a>
            <img class="content__third-column-weather-image" src="resources/images/img-1.png" alt="cloud"> <span class="content__third-column-weather-cels">-3°C</span>
          </div>
          <div class="content__third-column-weather-info">
            Вечер -5, ночь -7
          </div>
        </div>
        <div class="content__third-column-traffic">
          <div class="content__third-column-traffic-wrapper">
            <a class="content__third-column-article-ref" href="#"><article class="content__third-column-article">Пробки</article></a>
            <img class="content__third-column-traffic-image" src="resources/images/img-2.png" alt="cloud"> <span class="content__third-column-traffic-shift">балл</span>
          </div>
          <div class="content__third-column-traffic-info">
            Местами затруднения
          </div>
        </div>
        <div class="content__third-column-map">
          <a class="content__third-column-article-ref" href="#"><article class="content__third-column-article">Карта Санкт-Петербурга</article></a>
          <div class="content__third-column-map_weight_bold">
            Такси <span class="content__third-column-map-dist">Расписания</span>
          </div>
          <div class="content__third-column-map_weight_bold">
            Международные автобусы
          </div>
        </div>
        <div class="content__third-column-poster">
          <a class="content__third-column-article-ref" href="#"><article class="content__third-column-article">Афиша</article></a>
          <div class="content__third-column-poster-content">
            <p>Субурбикон <span class="content__third-column-poster-date">премьера в чт</span></p>
            <p>Последний богатырь <span class="content__third-column-poster-date">приключение</span></p>
            <p>Фиксики: Большой секрет <span class="content__third-column-poster-date">мультфильм</span></p>
            <p>Тор: рагнарёк <span class="content__third-column-poster-date">фэнтези</span></p>
            <p>Убийство в Восточном... <span class="content__third-column-poster-date">драма</span></p>
            <p><span class="content__third-column-poster_weight_bold">Концерты - Brainstorm</span></p>
          </div>
        </div>
      </div>




    </main>
  </body>
</html>
